.searchBlock {
  display: flex;
  align-items: center;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: none;
    color: #C4C4C4;
    font-size: 16px;
    padding: 13px;

    &::placeholder {
      color: #C4C4C4;
    }
  }
}