.card {
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  min-width: 210px;
  transition: box-shadow ease-in-out .3s, transform .2s ease-in-out;
  padding: 20px;
  flex: 1 0 23.5%;

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  span {
    color: #BDBDBD;
    text-transform: uppercase;
    font-size: 13px;
  }

  &:hover {
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }
}