.overlay {
  position: absolute;
  background: rgb(0, 0, 0, 0.1);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.drawer {
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      opacity: 0.5;
      transition: all ease-in-out .2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .items {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 40px;
  }
}

.greenButton {
  position: relative;

  &:hover img {
    transform: translateX(5px);
  }

  &:disabled {
    background: gray;
    opacity: 0.5;

    img {
      transform: initial;
    }

  }

  img {
    position: absolute;
    right: 30px;
    top: 21px;
    transition: ease-in-out .2s;
  }
}

.emptyWrapped {
  max-width: 285px;
  margin: 0 auto;
  text-align: center;

  p {
    color: #9D9D9D;
    margin-bottom: 40px;
  }
}