.overlay {
  position: absolute;
  background: rgb(0, 0, 0, 0.1);
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in-out .2s, visibility ease-in-out .2s;
}

.overlayVisible {
  visibility: visible;
  opacity: 1;
  transition: opacity ease-in-out .3s, visibility ease-in-out .3s;
}

.drawer {
  position: fixed;
  width: 385px;
  height: 100%;
  max-height: 100vh;
  top: 0;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: ease-in-out 0.3s;
  z-index: 6;

  h2 {
    margin: 0 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      opacity: 0.5;
      transition: ease-in-out .2s;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  .items {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 40px;
    max-height: calc(100% - 270px);
  }
}

.drawerVisible {
  transform: translateX(0);
  transition: ease-in-out .3s;
}

.emptyWrapped {
  max-width: 285px;
  margin: 0 auto;
  text-align: center;

  p {
    color: #9D9D9D;
    margin-bottom: 40px;
  }
}

@media (max-width: 567px) {
  .drawer {
    width: 100%;
  }
}