.searchBlock {
  display: flex;
  align-items: center;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;
  max-width: 100%;

  input {
    border: none;
    color: #C4C4C4;
    font-size: 16px;
    padding: 13px;
    width: 100%;

    &::placeholder {
      color: #C4C4C4;
    }
  }
}

@media (max-width: 767px) {
  .searchBlock {
    max-width: 250px;
  }
}

@media (max-width: 567px) {
  .searchBlock {
    width: 100%;
    max-width: 100%;
  }
}