.cartTotalBlock {
  flex: 0 0 auto;

  ul {
    margin-bottom: 40px;
  }

  li {
    margin-bottom: 20px;
  }

  div {
    flex: 1;
    border-bottom: 1px dashed #DFDFDF;
    margin: 0 10px;
    position: relative;
    bottom: 3px;
  }

  span {
    font-weight: 500;
  }
}

.greenButton {
  position: relative;

  &:hover img {
    transform: translateX(5px);
  }

  &:disabled {
    background: gray;
    opacity: 0.5;

    img {
      transform: initial;
    }

  }

  img {
    position: absolute;
    right: 30px;
    top: 21px;
    transition: ease-in-out .2s;
  }
}